body {
  background-image: url("https://image4.uhdpaper.com/wallpaper-hd/abstract-digital-art-uhdpaper.com-hd-4.295.jpg");
  font-family: Arial;
  backdrop-filter: blur(1px);
  height: 100vh;
}



.menu li {
  list-style: none;
  margin-top: -5px;
  margin-left: -10px;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}


a:link, a:visited {
    color: #FF00FF  ;
    text-align: center;
    text-decoration: none;
    font-size:150%;
}

a:hover {
  text-decoration: underline;
  color: #1E90FF;
}

.site-title {
  color: whitesmoke;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  text-shadow: 0px -5px 5px #FF00FF; 
}

.site-subtitle {
  color: #FF00FF;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 35px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  text-shadow: 2px 0px 5px #AFEEEE;
}

.text {
  color: #00CED1;
  text-align: center;
}
