/*Sof Reset do CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../assets/imgs/background.jpg");
  background-size: cover;
  font-family: Arial;
  font-size: 10px;
  height: 80vh; 
}

@media (min-width: 400px) {
  body {
    font-size: 12px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 800px) {
  body {
    font-size: 20px;
  }
}

header {
  height: 100vh;
  display: flex;
  font-family: 'Play', sans-serif;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: rgba(0, 0, 0, 0.411);
  position: fixed;
  width: 100vw;
  top: 0;
}

.menu ul {
  display: flex;
  justify-content: space-around;
  }

/*Remove marcações do menu*/
.menu li {
    list-style: none;
}

.menu a {
  display: block;
  padding: 10px 20px;
  transition: background-color 0.5s, color 0.5s;
}

.menu a:hover {
  text-decoration: none;
  background-color: #DAA520;
  color: whitesmoke;
}

a:link, a:visited {
    color: #DAA520;
    text-align: center;
    text-decoration: none;
    font-size:150%;
}

.site-title {
  color: whitesmoke;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 4em;
  text-shadow: 0px 5px 5px rgb(160, 136, 0); 
}

.site-subtitle {
  color: #DAA520;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2em;
}

.img-portfolio {
  height: 80px;
  width: 80px;
  transition: 0.3s ease-in-out;
}

.img-portfolio:hover {
  height: 95px;
  width: 95px;
}

.portfolio {
  padding: 2em;
  height: 80vh;
}

.portfolio-subtitle {
  color: #DAA520;
  font-family: 'Play', sans-serif;
  padding: 4em;
  text-align: center;
  }

.portfolio .grid {
  text-align: center;
  display: grid;
  gap: 1.5em;
  border-bottom: 0em;
}  

.icon {
  font-size: 3em;
}

.fa-facebook-square:hover {
  /*text-shadow: 1px 3px 2px  #596aad;*/
  color: #4267B2;
  transition: 0.3s ease-in-out;
}

.fa-github-square:hover{
  color: #ffffff;
  transition: 0.3s ease-in-out;
}

.fa-twitter-square:hover {
  color: #1DA1F2;
  transition: 0.3s ease-in-out;
}

.fa-linkedin:hover{
  color: #2867B2;
  transition: 0.3s ease-in-out;
}

@media (min-width: 600px) {
  .portfolio .grid {
    color: #DAA520;
    font-family: 'Play', sans-serif;
    display: grid;
    gap: 1em;
    text-align: center;
    grid-template-columns: 200px 200px;
    justify-content: center;
  }
}

@media (min-width: 1000px) {
  .portfolio .grid {
    color: #DAA520;
    font-family: 'Play', sans-serif;
    display: grid;
    gap: 1em;
    text-align: center;
    grid-template-columns: 250px 250px 250px 250px;
    justify-content: center;
  }
}

.scrolld {
  position:fixed;
  bottom:40px;
  right:20px;
  color: #DAA520;
  font-size: 2em;
}
