/*Sof Reset do CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url("../assets/imgs/background.jpg");
    background-size: auto auto;
    font-family: 'Play', sans-serif;
    font-size: 10px;
    height: 100vh;
  }
  
  @media (min-width: 400px) {
    body {
      font-size: 12px;
    }
  }
  
  @media (min-width: 600px) {
    body {
      font-size: 16px;
    }
  }
  
  @media (min-width: 800px) {
    body {
      font-size: 20px;
    }
  }
  
  header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu {
    background-color: rgba(0, 0, 0, 0.411);
    position: fixed;
    width: 100vw;
    top: 0;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
    
  .menu li {
      list-style: none;
  }
  
  .menu a {
    display: block;
    padding: 10px 20px;
    transition: text-shadow 0.5s, color 0.5s;
  }
  
  a:link, a:visited {
      color: #DAA520;
      text-align: center;
      text-decoration: none;
      font-size:150%;
  }
  
  a:hover {
    text-decoration: none;
    text-shadow: 3px 3px 5px #DAA520;
    color: whitesmoke;
  }
  
  .text {
    background-color: rgba(0, 0, 0, 0.411);
    color: #DAA520;
    text-align: justify;
    font-family: 'Play', sans-serif;
    font-size: 1.3em;
    position: relative;
    width: 55vw;
  }

  a.alura{
    color: whitesmoke;
    text-align: justify;
    font-family: 'Play', sans-serif;
    font-size: 1.1em;
    transition: background-color 0.5s, color 0.5s;
  }

  
  
  
  
